h1{
    
    text-align: center;
}

#Heading-section-top{
    color:crimson;
}

.font-color-pink{
    color:pink;
}

   /*body {
 background-image: url("../img/Hello Kitty with Apples.png");
}*/

h2{
    text-decoration-line:underline;
    text-decoration-color: blueviolet;
    text-decoration-style: dashed;
    text-decoration-thickness: auto,50%,5px ;
}

.font-size-10{
    font-size : 6rem;
}

.font-Handlee{
    font-family: "Handlee",Times, sans-serif;
    font-weight: 600;
    font-style: italic;
    text-indent: 10%;
    text-align: center;
    letter-spacing: 5px;
    line-height: 124%;
    word-spacing: 2px;
    white-space: normal;
    color:deepskyblue;
}

a:link{
    color:yellow;
}

a:hover{
    color:brown;
}

a:link, a:visited {
    background-color: bisque;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}